<script src="{{ app.request.basepath }}/views/jquery-3.1.1.min.js" type="text/javascript"></script>

<form action="" method="POST">
    <label for="sharks"> Sharks </label>
    <input name="sharks" type="number" min="1" max="20" />
    <br />
    
    <label for="fishes"> Fishes </label>
    <input name="fishes" type="number" min="1" max="50" />
    <br />
    
    <label for="rocks"> Rocks </label>
    <input name="rocks" type="number" min="1" max="20" />
    <br />
    
    <label for="lines"> Lines </label>
    <input name="lines" type="number" min="10" max="100" />
    <br />
    
    <input type="submit" value="Simulate" />
</form>

{% if dataSent %}

    Number of sharks: {{ sharksNumber }}
    Number of fishes: {{ fishesNumber }}
    Number of rocks: {{ rocksNumber }}
    Number of lines: {{ linesNumber }}

    <script>
        var generateUrl =  "{{ url('generate', {sharks: sharksNumber, fishes: fishesNumber, rocks: rocksNumber, lines: linesNumber }) }}";

        $.getJSON(generateUrl, function(json) {
            console.log(json);
        });
    </script>
    
  
{% endif %}

